{% extends '::base.html.twig' %}

{% block body -%}
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h1>Creación Tipo de Usuario</h1></div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipousuario') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
  </div>
{% endblock %}
